
<footer class="section-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="widget-foot">
                        <a href="#"><h2 class="logo">Eco<span>tix</span></h2></a>
                    <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص </p>
                    <h3 class="title">تواصل معانا</h3>
                    <ul class="socail">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul> <!-- End socail-->
                </div> <!-- End col -->
            </div> <!-- End col -->
            <div class="col-md-4 col-sm-6">
                <div class="widget-foot">
                    <h3 class="title">روابط سريعه</h3>
                    <div class="row">
                        <div class="col-xs-6">
                            <ul class="nav-foot">
                                <li>
                                    <a href="#">
                                        الشركات
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        الشركات
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        الشركات
                                    </a>
                                </li>
                            </ul> <!-- End nav-foot-->
                        </div>
                        <div class="col-xs-6">
                            <ul class="nav-foot">
                                <li>
                                    <a href="#">
                                        الشركات
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        الشركات
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        الشركات
                                    </a>
                                </li>
                            </ul> <!-- End nav-foot-->
                        </div>
                    </div> <!-- End Row -->
                </div> <!-- End widget-foot -->
            </div> <!-- End col -->
            <div class="col-md-4">
                <div class="widget-foot">
                    <h3 class="title">اشترك معانا</h3>
                    <p class="no-border">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص </p>
                    <form>
                        <div class="form-group">
                            <input type="email"  class="form-control" placeholder="عنوان البريد الالكتروني " required>
                            <a href="#"><i class="fab fa-telegram-plane"></i></a>
                        </div><!-- End Form-Group -->
                    </form>
                </div> <!-- End col -->
            </div> <!-- End col -->
        </div> <!-- End row -->
    </div> <!-- End Container -->
</footer>