 <div class="wrapper">
    <app-navbar></app-navbar>
    <div class="main">
      <div class="home-news section-lg">
        <div class="container">

            <div class="row">
                <div class="col-sm-8 no-padding pointer">
                  <div class="news-pic" style="height: 500px;" (click)="showNewsDetails(topNews.id)" >
                    <img [src]= "topNews.imageLink" alt="news image" draggable="false">
                    <div class="news-content">
                      <h3>{{topNews.title}}</h3>
                      <span>
                        <i class="fas fa-clock" ></i>
                        {{topNews.date}}
                      </span>
                    </div> <!-- End news-content -->
                  </div> <!-- End news-pic -->
                </div> <!-- End Col-->

                <div class="col-sm-4 no-padding pointer" *ngFor="let news of top6_1News" (click)="showNewsDetails(news.id)" >
                  <div class="news-pic" style="height: 250px;">
                      <img [src]="news.imageLink" alt="news image" draggable="false">
                      <div class="news-content">
                        <h5>{{news.title}}</h5>
                        <span>
                            <i class="fas fa-clock" ></i>
                            {{news.date }}
                          </span>
                      </div> <!-- End news-content -->
                    </div> <!-- End news-pic -->
                  </div> <!-- End Col-->
                </div> <!-- End row-->


        </div> <!-- End container -->
      </div> <!-- End home-news -->
      <div class="charts section-lg">
        <div class="container"></div> <!-- End container -->
      </div> <!-- End Charts -->
      <div class="tables-home section-lg">
        <div class="container">

          <h2 class="title" >الشركات الاكثر تداول </h2>

          <div class="sector-table">
              <table class="table table-striped"  matSort (matSortChange)="sortData($event)">
                  <thead>
                      <tr>
                          <th mat-sort-header="name">  
                              اسم السهم
                          </th>
                          <th mat-sort-header="lastPrice">
                              اخر سعر
                          </th>
                          <th mat-sort-header="changeRate">
                               نسبة التغير
                          </th>
                          <th mat-sort-header="change">
                               التغير
                          </th>
                          <th mat-sort-header="numberStock">
                              عدد الاسهم 
                          </th>
                          <th mat-sort-header="priceOpen">
                                  سعر الفتح
                          </th>
                          <th mat-sort-header="high">
                                  اعلي سعر
                          </th>
                          <th mat-sort-header="low">
                              ادني سعر
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let company of topCompaniesSet" class="border-red">
                          <td (click)="showCompanyProfile(company.id)" >{{company.companyName}}</td>
                          <td>{{company.stock.latestPrice}}</td>
                          <td>{{company.stock.changePercentage | number:"1.2" }}</td>
                          <td>{{company.stock.changeValue | number:"1.2" }}</td>
                          <td>{{company.companyCurrentTotalStocksNumber}}</td>
                          <td>{{company.stock.openPrice}}</td>
                          <td>{{company.stock.maxPrice}}</td>
                          <td>{{company.stock.minPrice}}</td>
                      </tr>
                  </tbody>
              </table>
          </div> <!-- End Sector-table -->

        </div> <!-- End Container -->
      </div>
        <app-footer></app-footer>
     </div> <!-- End main -->
</div>  