<div class="wrapper">
    <app-navbar></app-navbar>
    <div class="main">
      <div class="breadcrumbs">
        <div class="container">
          <ul>
            <li>
              <a href="#">الرئسية</a>
            </li>
            <li>
              <a href="#">المؤشرات</a>
            </li>
          </ul>
        </div> <!-- End container -->
      </div> <!-- End breadcrumbs -->
      <div class="allstocks">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h3 class="title">مؤشر إيجى إكس 30 (EGX30)              </h3>
              <div class="stock-info info-stock">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="price down">
                      <p>آخر تحديث: الأحد, مايو 06   </p>
                      <span > 25 <i class="fas fa-sort-down"></i></span>
                      <div class="item-stock">
                        <div class="info-title">
                          <p>  20</p>
                        </div> <!--End Info Title -->
                        <div class="info-static">
                          <p>50 %</p>
                        </div> <!--End Info Title -->
                      </div> <!-- End item -->
                    </div><!-- End Price -->
                  </div> <!-- End Col -->
                  <div class="col-sm-4">  
                      <div class="item-stock">
                          <div class="info-title">
                            <p>  فتح</p>
                          </div> <!--End Info Title -->
                          <div class="info-static">
                            <p>55</p>
                          </div> <!--End Info Title -->
                      </div> <!-- End item -->
                      <div class="item-stock">
                          <div class="info-title">
                            <p>  اغلاق سابق</p>
                          </div> <!--End Info Title -->
                          <div class="info-static">
                            <p>33.2</p>
                          </div> <!--End Info Title -->
                      </div> <!-- End item -->
                      <div class="item-stock">
                          <div class="info-title">
                            <p>  اعلي</p>
                          </div> <!--End Info Title -->
                          <div class="info-static">
                            <p>42 </p>
                          </div> <!--End Info Title -->
                      </div> <!-- End item -->
                      <div class="item-stock">
                          <div class="info-title">
                            <p> ادني </p>
                          </div> <!--End Info Title -->
                          <div class="info-static">
                            <p>200</p>
                          </div> <!--End Info Title -->
                      </div> <!-- End item -->
                  </div> <!-- End Col -->
                  <div class="col-sm-4">
                      <div class="item-stock">
                          <div class="info-title">
                            <p><b> اجمالي السهم</b></p>
                          </div> <!--End Info Title -->
                      </div> <!-- End item -->
                      <div class="item-stock">
                          <div class="info-title">
                            <p>  حجم الداول</p>
                          </div> <!--End Info Title -->
                          <div class="info-static">
                            <p>62</p>
                          </div> <!--End Info Title -->
                      </div> <!-- End item -->
                      <div class="item-stock">
                          <div class="info-title">
                            <p>  قيمه الداول </p>
                          </div> <!--End Info Title -->
                          <div class="info-static">
                            <p>140.522</p>
                          </div> <!--End Info Title -->
                      </div> <!-- End item -->
                  </div> <!-- end Col -->
                </div> <!-- End Row -->
              </div> <!-- End info-stock-->
              <div class="info-stock">
                <h3 class="title">مؤشرات السوق </h3>
                <div class="table-responsive"> <!-- have two class drop and earn --> 
                  <table class="table table-striped"> 
                    <tbody>
                        <tr class="border-green">
                            <td>اسم الشركة</td>
                            <td>55</td>
                            <td>20%</td>
                        </tr>
                        <tr class="border-green">
                            <td>اسم الشركة</td>
                            <td>55</td>
                            <td>20%</td>
                        </tr>
                        <tr class="border-red">
                            <td>اسم الشركة</td>
                            <td>55</td>
                            <td>20%</td>
                        </tr>
                    </tbody>
                  </table>
                </div> <!-- End table -->
              </div> <!-- End Info-stock -->
              <div class="info-stock">
                <h3 class="title"> قطاعات السوق </h3>
                <div class="table-responsive"> <!-- have two class drop and earn --> 
                  <table class="table table-striped"> 
                    <tbody>
                        <tr class="border-green">
                            <td>اسم الشركة</td>
                            <td>55</td>
                            <td>20%</td>
                        </tr>
                        <tr class="border-green">
                            <td>اسم الشركة</td>
                            <td>55</td>
                            <td>20%</td>
                        </tr>
                        <tr class="border-red">
                            <td>اسم الشركة</td>
                            <td>55</td>
                            <td>20%</td>
                        </tr>
                    </tbody>
                  </table>
                </div> <!-- End table -->
              </div> <!-- End Info-stock -->
              <div class="info-stock">
                <h3 class="title">  اخر الاخبار </h3>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="item-news">
                          <div class="item-img">
                            <img src="assets/images/slide1.jpg" alt="news image" draggable="false">
                          </div> <!-- End item-img-->
                          <div class="item-contant">
                              <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</p>
                              <span>قطاع البنوك</span>
                          </div> <!-- End item-contant -->
                        </div> <!-- End item-news -->
                        <div class="item-news">
                          <div class="item-img">
                            <img src="assets/images/slide1.jpg" alt="news image" draggable="false">
                          </div> <!-- End item-img-->
                          <div class="item-contant">
                              <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</p>
                              <span>قطاع البنوك</span>
                          </div> <!-- End item-contant -->
                        </div> <!-- End item-news -->
                        <div class="item-news">
                          <div class="item-img">
                            <img src="assets/images/slide1.jpg" alt="news image" draggable="false">
                          </div> <!-- End item-img-->
                          <div class="item-contant">
                              <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</p>
                              <span>قطاع البنوك</span>
                          </div> <!-- End item-contant -->
                        </div> <!-- End item-news -->
                      </div> <!-- End Col -->
                      <div class="col-sm-6 ">
                        <div class="item-news">
                          <div class="item-img">
                            <img src="assets/images/slide1.jpg" alt="news image" draggable="false">
                          </div> <!-- End item-img-->
                          <div class="item-contant">
                              <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</p>
                              <span>قطاع البنوك</span>
                        </div> <!-- End item-contant -->
                        </div> <!-- End item-news -->
                        <div class="item-news">
                          <div class="item-img">
                            <img src="assets/images/slide1.jpg" alt="news image" draggable="false">
                          </div> <!-- End item-img-->
                          <div class="item-contant">
                              <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</p>
                              <span>قطاع البنوك</span>
                        </div> <!-- End item-contant -->
                        </div> <!-- End item-news -->
                        <div class="item-news">
                          <div class="item-img">
                            <img src="assets/images/slide1.jpg" alt="news image" draggable="false">
                          </div> <!-- End item-img-->
                          <div class="item-contant">
                              <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</p>
                              <span>قطاع البنوك</span>
                        </div> <!-- End item-contant -->
                      </div> <!-- End Col -->
                </div> <!-- End Row-->

              </div> <!-- End Info-stock -->
            </div> <!-- end Col -->
          </div> <!-- End row-->
          <div class="col-md-4">
              <h3  class="title">  الاخبار الاكثر قرائة</h3>
              <div class="row">
                <div class="col-md-12 col-sm-6">
                  <div class="item-news">
                    <div class="item-img">
                      <img src="assets/images/slide1.jpg" alt="news image" draggable="false">
                    </div> <!-- End item-img-->
                    <div class="item-contant">
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</p>
                        <span>قطاع البنوك</span>
                  </div> <!-- End item-contant -->
                  </div><!-- item-news-->
                </div> <!-- end Col-->
                <div class="col-md-12 col-sm-6">
                  <div class="item-news">
                    <div class="item-img">
                      <img src="assets/images/slide1.jpg" alt="news image" draggable="false">
                    </div> <!-- End item-img-->
                    <div class="item-contant">
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</p>
                        <span>قطاع البنوك</span>
                  </div> <!-- End item-contant -->
                </div><!-- item-news-->
                </div> <!-- end Col-->
                <div class="col-md-12 col-sm-6">
                    <div class="item-news">
                      <div class="item-img">
                        <img src="assets/images/slide1.jpg" alt="news image" draggable="false">
                      </div> <!-- End item-img-->
                      <div class="item-contant">
                          <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</p>
                          <span>قطاع البنوك</span>
                    </div> <!-- End item-contant -->
                    </div><!-- item-news-->
                  </div> <!-- end Col-->
              </div> <!-- end row --> 
              <h3  class="title"> الشركات الافضل</h3>
            <div class="best-comp">
              <ul>
                <li>
                  <a>ربحا</a>
                </li>
                <li class="active">
                  <a >خسارة</a>
                </li>
                <li>
                  <a >قيمة</a>
                </li>
                <li>
                  <a>كمية</a>
                </li>
              </ul>
              <div class="table-responsive drop"> <!-- have two class drop and earn --> 
                <table class="table table-striped"> 
                  <tbody>
                      <tr>
                          <td>اسم الشركة</td>
                          <td>55</td>
                          <td>20%</td>
                      </tr>
                      <tr>
                          <td>اسم الشركة</td>
                          <td>55</td>
                          <td>20%</td>
                      </tr>
                      <tr>
                          <td>اسم الشركة</td>
                          <td>55</td>
                          <td>20%</td>
                      </tr>
                  </tbody>
                </table>
              </div> <!-- End table -->
            </div> <!-- End best-comp-->
          </div> <!-- end Col -->
        </div> <!-- End Container -->
      </div> <!-- end allstocks -->
      <app-footer></app-footer>
    </div>
  </div>
  