<div class="signup">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 hidden-xs definition">
        <a routerLink="/"><h3>Eco<span>tix</span></h3></a>
        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</p>
        <button mat-raised-button routerLink="/">العودة للرئسية</button>
      </div> <!-- End Col -->
      <div class="col-md-6 col-sm-6 col-md-offset-6 col-sm-offset-6">
        <div class="signup-form">
          <a routerLink="/"><h2>Eco<span>tix</span></h2></a>
          <p class="text-center">اختار  نوع التسجيل الذي ترغب فيه</p>
         <div class="row section-lg">
           <div class="col-sm-6">
            <div class="profile-buttons-div">
              <a routerLink="/signupcompany" class="button">شركة</a>
            </div> <!-- End profile-buttons-div -->
           </div> <!-- End Col -->
           <div class="col-sm-6">
            <div class="profile-buttons-div">
              <a routerLink="/signupuser" class="button">متـداول</a>
            </div> <!-- End profile-buttons-div -->
           </div> <!-- End Col -->
         </div> <!-- End Row -->
        </div> <!-- End signup-form -->
      </div> <!-- End Col -->
    </div> <!-- End row -->
  </div> <!-- End container -->
</div> <!-- End signup -->